html, body {
  height: 100%;
  width: 100%;
  margin:0;
  padding:0;
}

/* css for responsive website on computer */
@media screen and (min-width: 601px) {
  .gStem{
  font-family: 'Istok Web', sans-serif;
  transition: all 0.5s;
  font-variation-settings: "wght" 700;
  font-size: 14rem;
  text-align: center;
  color: #F39A9D;
  text-shadow:
    7px 7px 0px #f7dfdf,
    20px 20px 0px #6c6383;
 /*font-size: 140px;
  font-family: 'Istok Web', sans-serif;
  text-align: center;
  color: #FFFFFF;*/
  background-color: #7D7DA1;
  padding: 8%;
  margin-top: 0!important;
  } 

  .homeTitle{
  font-size: 50px;
  font-family: 'Istok Web', sans-serif; 
  text-align: center;
  color: #F39A9D;
}

.homeDescript{
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  padding-left: 21%;
  padding-right: 21%;
}

.logo{
  width: 58px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -30px;
  margin-bottom: -30px;
}

.navBar{
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  font-family: 'Nunito', sans-serif;
  margin-top: 0!important;
}

.navBar a {
  float: left;
  color: #000000;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  text-decoration: none;
  font-size: 19px;
  border: 0px;
}

.navBar a:hover {
  text-decoration: underline;
  text-decoration-color: #F39A9D;
  text-underline-position: under;
  text-decoration-thickness: 5px;
}

.actionTitle{
  font-size: 140px;
  font-family: 'Istok Web', sans-serif;
  text-align: center;
  color: #FFFFFF;
  background-color: #7D7DA1;
  padding: 14%;
  margin-top: 0!important;
  } 

.anyoneTitle{
  font-size: 70px;
  font-family: 'Istok Web', sans-serif; 
  text-align: center;
  color: #A6CCCE;
}

.studentTitle{
  font-size: 70px;
  font-family: 'Istok Web', sans-serif; 
  text-align: center;
  color: #F39A9D;
}

.schoolTitle{
  font-size: 70px;
  font-family: 'Istok Web', sans-serif; 
  text-align: center;
  color: #F8D78C;
}

.allPercents {
    font-size: 4vw;
}
  
.allDescription {
    font-size: 1.3vw;
}
  
}

/* css for responsive website on phone */
@media screen and (max-width: 600px) {
  .gStem{
  font-family: 'Istok Web', sans-serif;
  transition: all 0.5s;
  font-variation-settings: "wght" 700;
  font-size: 5rem;
  text-align: center;
  color: #F39A9D;
  text-shadow:
    3px 3px 0px #f7dfdf,
    10px 10px 0px #6c6383;
 /*font-size: 140px;
  font-family: 'Istok Web', sans-serif;
  text-align: center;
  color: #FFFFFF;*/
  background-color: #7D7DA1;
  padding: 8%;
  margin-top: 0!important;
  } 

  .gStem:hover{
    -webkit-text-stroke: 2px #ffffff;
    color: transparent;
    text-shadow: none;
  }

  .homeTitle{
  font-size: 30px;
  font-family: 'Istok Web', sans-serif; 
  text-align: center;
  color: #F39A9D
}

.homeDescript{
  font-size: 10px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  padding-left: 21%;
  padding-right: 21%;
}

.logo{
  width: 25px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -10px;
  margin-bottom: -10px;
}
  
.navBar{
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  font-family: 'Nunito', sans-serif;
  margin-top: 0!important;
}

.navBar a {
  float: left;
  color: #000000;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  text-decoration: none;
  font-size: 12px;
  border: 0px;
}

.navBar a:hover {
  text-decoration: underline;
  text-decoration-color: #F39A9D;
  text-underline-position: under;
  text-decoration-thickness: 2.5px;
}

.actionTitle{
  font-size: 70px;
  font-family: 'Istok Web', sans-serif;
  text-align: center;
  color: #FFFFFF;
  background-color: #7D7DA1;
  padding: 14%;
  margin-top: 0!important;
  }

.anyoneTitle{
  font-size: 45px;
  font-family: 'Istok Web', sans-serif; 
  text-align: center;
  color: #A6CCCE;
}

.studentTitle{
  font-size: 45px;
  font-family: 'Istok Web', sans-serif; 
  text-align: center;
  color: #F39A9D;
}

.schoolTitle{
  font-size: 45px;
  font-family: 'Istok Web', sans-serif; 
  text-align: center;
  color: #F8D78C;
}

.allPercents {
    font-size: 24.5px;
  }

.allDescription {
    font-size: 17px;
  }
}

/* css for responsive website on computer */
@media screen and (min-width: 1171px) {
  .anyoneInfo{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: 'Nunito', sans-serif;
  color: #3f484a;
}
  
  .anyoneHeader{
  font-family: 'Istok Web', sans-serif;
  font-size: 25px;
  padding-bottom: 15px;
}

  .anyoneInfo1{
  background-color: #A6CCCE;
  border-radius: 20px;
  max-width: 300px;
  max-height: 400px;
  padding-left: 4%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-left: 2%;
  margin-right: 2%;
}

.anyoneInfo2{
  background-color: #C2E1E2;
  border-radius: 20px;
  max-width: 300px;
  max-height: 400px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-right: 2%;
}

.anyoneInfo3{
  background-color: #89BBBE;
  border-radius: 20px;
  max-width: 300px;
  max-height: 400px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-right: 2%;
}

.studentInfo{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: 'Nunito', sans-serif;
  color: #414a4c;
}

.studentInfo1{
  background-color: #F39A9D;
  border-radius: 20px;
  max-width: 300px;
  max-height: 400px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-left: 2%;
  margin-right: 2%;
}

.studentInfo2{
  background-color: #FFD4D6;
  border-radius: 20px;
  max-width: 300px;
  max-height: 400px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-right: 2%;
}

.studentInfo3{
  background-color: #F5B9BB;
  border-radius: 20px;
  max-width: 300px;
  max-height: 400px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-right: 2%;
}

.schoolInfo{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: 'Nunito', sans-serif;
  color: #414a4c;
  padding-bottom: 5%;
}

.schoolInfo1{
  background-color: #F8D78C;
  border-radius: 20px;
  max-width: 300px;
  max-height: 400px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-left: 2%;
  margin-right: 2%;
}

.schoolInfo2{
  background-color: #FBE5B2;
  border-radius: 20px;
  max-width: 300px;
  max-height: 400px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-right: 2%;
}

.schoolInfo3{
  background-color: #F9D278;
  border-radius: 20px;
  max-width: 300px;
  max-height: 400px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-right: 2%;
}
}

/* css for responsive website on phone */
@media screen and (max-width: 1170px) {
.anyoneInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  color: #3f484a;
}
  
  .anyoneHeader{
  font-family: 'Istok Web', sans-serif;
  font-size: 25px;
  padding-bottom: 15px;]
}

  .anyoneInfo1{
  background-color: #A6CCCE;
  border-radius: 20px;
  max-width: 300px;
  max-height: 400px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-bottom: 5%
}

.anyoneInfo2{
  background-color: #C2E1E2;
  border-radius: 20px;
  max-width: 300px;
  max-height: 400px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-bottom: 5%
}

.anyoneInfo3{
  background-color: #89BBBE;
  border-radius: 20px;
  max-width: 300px;
  max-height: 400px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-bottom: 5%
}

.studentInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  color: #414a4c;
}

.studentInfo1{
  background-color: #F39A9D;
  border-radius: 20px;
  max-width: 300px;
  max-height: 400px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-bottom: 5%
}

.studentInfo2{
  background-color: #FFD4D6;
  border-radius: 20px;
  max-width: 300px;
  max-height: 400px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-bottom: 5%
}

.studentInfo3{
  background-color: #F5B9BB;
  border-radius: 20px;
  max-width: 300px;
  max-height: 400px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-bottom: 5%
}

.schoolInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  color: #414a4c;
  padding-bottom: 5%;
}

.schoolInfo1{
  background-color: #F8D78C;
  border-radius: 20px;
  max-width: 300px;
  max-height: 400px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-bottom: 5%
}

.schoolInfo2{
  background-color: #FBE5B2;
  border-radius: 20px;
  max-width: 300px;
  max-height: 400px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-bottom: 5%
}

.schoolInfo3{
  background-color: #F9D278;
  border-radius: 20px;
  max-width: 300px;
  max-height: 400px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-bottom: 5%
}
}

@media screen and (min-width: 1451px){
  /* css for the experience page */

.exName{
  text-align: right;
  font-weight: bold;
}

.box {
  /* Required properties */
  position: relative;
  background: white;

  /* Use  your own styles here */
  margin: 45px;
  width: 473px; /*500*/
  height: 250px;  /*270*/

  text-align: left;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  margin-top: 3%;
  padding-top: 4%;
  padding-right: 3%;
  padding-left: 3%;
  padding-bottom: 3%;

  /*
  --b: 8px;  /* border thickness*/
  /*--s: 60px; /* size of the corner*/
 /* --g: 14px; /* the gap*/
  /*--c: #F5B9BB; 
  
  padding: calc(var(--b) + var(--g));
  background-image:
    conic-gradient(from  90deg at top    var(--b) left  var(--b),#0000 25%,var(--c) 0),
    conic-gradient(from -90deg at bottom var(--b) right var(--b),#0000 25%,var(--c) 0);
  background-position:
    var(--_p,0%) var(--_p,0%),
    calc(100% - var(--_p,0%)) calc(100% - var(--_p,0%));
  background-size: var(--s) var(--s);
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 
    background-position .3s var(--_i,.3s), 
    background-size .3s calc(.3s - var(--_i,.3s));*/
}

/*.box:hover{
  background-size: calc(100% - var(--g)) calc(100% - var(--g));
  --_p: calc(var(--g)/2);
  --_i: 0s;
}*/
  
/* This is what creates the shadow. */
.box:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #b3b3e6 0%, #fe397e 100%); /*#bdbdbd       0%, #bdbdbd 100% */
    transform: translate3d(0px, 20px, 0) scale(0.95);
    filter: blur(20px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.box::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}

.box{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.firstThreeBoxes{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3%;
}

.secondThreeBoxes{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3%;
}

.thirdThreeBoxes{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3%;
}

.fourthThreeBoxes{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3%;
}

.fifthThreeBoxes{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3%;
}

.experienceTitle{
  background-color: #F39A9D;
  font-size: 120px;
  font-family: 'Istok Web', sans-serif;
  text-align: center;
  color: #FFFFFF;
  padding: 14%;
  margin-top: 0!important;
}
}

@media screen and (max-width: 1450px){
  /* css for the experience page */

.exName{
  text-align: right;
  font-weight: bold;
}

.box {
  /* Required properties */
  position: relative;
  background: white;

  /* Use  your own styles here */
  margin: 45px;
  width: 473px;
  height: 250px;  

  text-align: left;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  margin-top: 3%;
  margin-bottom: 7%;
  margin-left: 3%;
  margin-right: 3%;
  padding-top: 4%;
  padding-right: 3%;
  padding-left: 3%;
  padding-bottom: 3%;
}

/* This is what creates the shadow. */
.box:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #b3b3e6 0%, #fe397e 100% );
    transform: translate3d(0px, 20px, 0) scale(0.95);
    filter: blur(20px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.box::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}

.box{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.firstThreeBoxes{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secondThreeBoxes{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thirdThreeBoxes{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fourthThreeBoxes{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fifthThreeBoxes{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experienceTitle{
  background-color: #F39A9D;
  font-size: 50px;
  font-family: 'Istok Web', sans-serif;
  text-align: center;
  color: #FFFFFF;
  padding: 14%;
  margin-top: 0!important;
}
}


@media screen and (min-width: 1001px) {
  .allFindingsTitle {
    font-size: 20px;
    padding-left: 3%;
  }

  .allFindingsParagraphs {
    font-size: 15px;
  }
}

@media screen and (max-width: 1000px) {
  .allFindingsTitle {
    font-size: 15px;
    padding-left: 3%;
  }
  
  .allFindingsParagraphs {
    font-size: 80%;
  }
}

.anyoneInfo1:hover{
  transform: rotate(-5deg);
}

.studentInfo1:hover{
  transform: rotate(5deg);
}

.schoolInfo1:hover{
  transform: rotate(-5deg);
}

.anyoneInfo2:hover{
  transform: rotate(5deg);
}

.studentInfo2:hover{
  transform: rotate(-5deg);
}

.schoolInfo2:hover{
  transform: rotate(5deg);
}


.anyoneInfo3:hover{
  transform: rotate(-5deg);
}

.studentInfo3:hover{
  transform: rotate(5deg);
}

.schoolInfo3:hover{
  transform: rotate(-5deg);
}

.jasmine{
  padding-left: 8%;
  padding-right: 8%;
}

.jasminepic {
  float: left;
  border-radius: 50%;
  height: 300px;
  width: 305px;
  border: solid 10px;
  border-color: #A6CCCE;
}

.jasmineBio{
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  padding-left: 8%;
  padding-right: 8%;
}

.jasmineBio::after {
  content: "";
  clear: both;
  display: table;
}

.sophia {
  padding-left: 8%;
  padding-right: 8%;
}

.sophiapic{
  float: right;
  border-radius: 50%;
  height: 300px;
  width: 305px;
  border: solid 10px;
  border-color: #A6CCCE;
}

.sophiaBio{
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  padding-left: 8%;
  padding-right: 8%;
}

.sophiaBio::after{
  content: "";
  clear: both;
  display: table;
}

.meetTitle{
  font-size: 100px;
  font-family: 'Istok Web', sans-serif;
  text-align: center;
  color: #FFFFFF;
  background-color:  #A6CCCE;
  padding: 6%;
}

.firstPercent {
  padding-left: 9%;
  font-family: 'Istok Web', sans-serif; 
  color: #F39A9D;
  float: left;
}

.firstPerDescription{
  padding-top: 7%;
  padding-left: 6%;
  padding-right: 9%;
  padding-bottom: 3%;
  font-family: 'Nunito', sans-serif;
  display: flex;
  align-items: flex-start;
}

.secondPercent {
  padding-left: 9%;
  font-family: 'Istok Web', sans-serif; 
  color: #A6CCCE;
  float: left;
}

.secondPerDescription{
  padding-top: 7%;
  padding-left: 6%;
  padding-right: 9%;
  padding-bottom: 3%;
  font-family: 'Nunito', sans-serif;
  display: flex;
  align-items: flex-start;
}

.thirdPercent {
  padding-left: 9%;
  font-family: 'Istok Web', sans-serif; 
  color: #F8D78C;
  float: left;
}

.thirdPerDescription{
  padding-top: 7%;
  padding-left: 6%;
  padding-right: 9%;
  padding-bottom: 7%;
  font-family: 'Nunito', sans-serif;
  display: flex;
  align-items: flex-start;
}

.problemTitle{
  font-family: 'Istok Web', sans-serif; 
  color: #F39A9D;
}

.problemDescription{
  font-family: 'Nunito', sans-serif; 
  color: #414a4c;
  margin-right: 15%;
  line-height: 155%;
}

.findingsTitle1{
  font-family: 'Istok Web', sans-serif; 
  color: #A6CCCE;
}

.findingsParagraph1{
  font-family: 'Nunito', sans-serif; 
  color: #414a4c;
  margin-right: 15%;
  line-height: 155%;
}

li{
  padding-bottom: 2%;
}

.findingsParagraph2{
  font-family: 'Nunito', sans-serif; 
  color: #414a4c;
  margin-right: 15%;
  line-height: 155%;
}

.findingsParagraph3{
  font-family: 'Nunito', sans-serif; 
  color: #414a4c;
  margin-right: 15%;
  line-height: 155%;
}


.findingsTitle2{
  font-family: 'Istok Web', sans-serif; 
  color: #F8D78C;
}

.findingsTitle3{
  font-family: 'Istok Web', sans-serif; 
  color: #7D7DA1;
}

.dataNumber1{
  padding-top: 1%;
  display: flex;
  align-items: flex-start;
}

.dataNumber2{
  display: flex;
  align-items: flex-start;
}

.dataNumber3{
  display: flex;
  align-items: flex-start;
}

.dataNumber4{
  display: flex;
  align-items: flex-start;
}

.dataChart1{
  margin-left: 3.5%;
  margin-bottom: 2%;
  border: solid 30px;
  border-color: #F39A9D;
}

.dataChart2{
  margin-left: 3.5%;
  margin-bottom: 2%;
  border: solid 30px;
  border-color: #A6CCCE;
}

.dataChart3{
  margin-left: 3.5%;
  margin-bottom: 2%;
  border: solid 30px;
  border-color: #F8D78C;
}

.dataChart4{
  margin-left: 4%;
  margin-bottom: 2%;
  border: solid 30px;
  border-color: #7D7DA1;
}


.data1{
  border: none;
  width: 52vw; 
  height: 20vw;
}

.data2{
  border: none;
  width: 52vw; 
  height: 20vw;
}

.data3{
  border: none;
  width: 52vw; 
  height: 20vw;
}

.data4{
  border: none;
  width: 52vw; 
  height: 20vw;
}